:root {
  --primary-color: #1DDDA5;
  --secondary-color: #FFB0B4;
  --light-color: #545C6A;
  --dark-color: #525E72;
}

body {
  max-width: 75em;
  margin: 0em auto;
  font-family: 'Roboto', sans-serif, Helvetica;
}

header {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
}

header > div {
  display: flex;
  flex-direction: column;
}

header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0;
  font-size: 4em;
  font-weight: bold;
  color: var(--dark-color);
}

header h2 {
  font-size: 4em;
  font-weight: lighter;
  margin: 0;
  color: var(--light-color);
}

header img {
  height: 200px;
}

.phrase {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.row {
  margin: 0.5em;
}

@media (max-width: 700px) {
  body {
    max-width: 100%;
    padding: 5px;
  }

  header img {
    height: 50px;
  }

  header h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  header h2 {
    font-size: 1.1em;
  }

  .phrase {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
