@import 'common.css';

/* form {
  font-size: 200%;
} */

.input-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.input-label {
  text-align: right;
  display: inline-block;
  width: 50%;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

.input, .select {
  width: 50%;
  margin-left: 30px;
  position: relative;
}

.input {
  width: 200px;
}

.input input {
  background: 0;
  border: 0;
  outline: none;
  width: 200px;
  max-width: 400px;
  font-size: 2.1em;
}

.input input:focus + .line:after {
  transform: scaleX(1);
}

.input .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #bdc3c7;
}

.input .line:after {
  content: " ";
  position: absolute;
  float: right;
  width: 100%;
  height: 3px;
  
  transform: scalex(0);
  transition: transform 0.3s ease;
  
  background: #1abc9c;
}

.submit-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.submit-wrapper div {
  margin: 0 1em;
  text-align: center;
}

.submit {
  background-color: var(--primary-color);
  color: white;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  width: 300px;
}

.submit, .submit:focus, .submit:active {
  -moz-outline: 0;
  outline: 0;
  -moz-outline-style: none;
  outline-style: none;
  border: none;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

input::-moz-focus-inner { 
  border: 0; 
}

.select {
	position: relative;
	width: 350px;
}

.select-text {
	position: relative;
	background-color: transparent;
	width: 350px;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 3px solid rgba(0,0,0, 0.12);
}

.select-text:focus {
	outline: none;
	border-bottom: 3px solid rgba(0,0,0, 0);
}

.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;

  width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


.select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 3px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: var(--primary-color);
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

@media (max-width: 700px) {
  .input-wrapper {
    flex-direction: column;
  }

  .input, .select {
    margin-left: 0;
    width: 100%;
  }

  .input-label {
    text-align: left;
    width: 100%;
  }

  .select-text, .select-bar {
    width: 100%;
    font-size: 0.7em;
  }

  .submit {
    font-size: 1em;
  }

  .submit-wrapper {
    margin-top: 30px;
  }
}
